article {
  display: flex;
  flex-direction: column;
  border: 5px solid #545149;
  padding: 1em;
  margin: 40px 0px;
}

article header {
  display: flex;
  justify-content: space-between;
}

.tweet-tag {
  display: none;
}

article:hover .tweet-tag {
  display: block;
  color: #cacfe4;
}

article:hover {
  box-shadow: 10px 10px #cacfe4;
}

article header div {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 60px;
  height: 60px;
}

.user-icon + h4 {
  margin: 0;
}

.tweet-content {
  border-bottom: 5px solid #545149;
  padding: 1.5em;
  margin: auto 0px;
}

article footer {
  display: flex;
  justify-content: space-between;
}

.icons {
  height: 40px;
  margin-top: 24px;
}

@media screen and (min-width: 1060px) {
  article {
    max-width: 900px;
    min-width: 600px;
  }
}